snippet it
	it('${1}', function()
	{
		${2}
	});
snippet describe
	describe('${1}', function()
	{
		${2}
	});
snippet beforeEach
	beforeEach(function()
	{
		${1}
	});
snippet expect
	expect(${1});
snippet spyOn
	spyOn(${1}, '${2}');
